.mainDiv{
    height: 55px;
    border-radius: 20px;
    /* border-radius: 36px; */
    background: #ffffff;
    box-shadow:  16px 16px 32px #b5b5b5,
                 -16px -16px 32px #ffffff;
                 /* box-shadow: 0 0 10px #a8a8a8; */

                 display: flex;
    padding-top: 15px;

    justify-content: space-around;
}






.mainDiv  li{


    list-style: none;

}

.mainDiv  li a{
    color:rgb(214 60 131);
    text-decoration: none;
   /* padding:13px 10px 8px 10px; */

   border-radius: 50px;
}
#icon{
    transition: 0.2s ease-out;
   color:#D63D83
}

#icon:hover{
    transform: scale(1.1);

}

